<div class="container">
	<div class="row">
		
		<div class="col-sm-offset">
			<div class="col-sm-8">
				<div class="row">
					<h3>
						You can visit us at:
					</h3>			
					<div class="col-sm-8 col-sm-ofset-2">
						<p>
							123 Fakestreet
							12345 Faketown, Fake State
						</p>
					</div>
				</div>
				<div class="row">
					<h3>
						You can contact us at:
					</h3>			
					<div class="col-sm-8 col-sm-ofset-2">
						<p>
							email: fake@mail.com <br>
							call: (123)456-7890
						</p>
					</div>
				</div>
				<div class="row">
					<h3>
						Our opening hours:
					</h3>			
					<div class="col-sm-8 col-sm-ofset-2">
						<p>
							Monday: closed<br>
							Tuesday - Friday: 9:00 am - 7:00 pm pst<br>
							Saturday - Sunday: 11:00 am - 2:00 pm pst

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
