

<div class="container" id="registration">
	<div class="row">
		<div class="col-md-8">
			<h2>Hi {{user.first_name}} {{user.last_name}} go to your Shopping cart:</h2>
			<button class="btn btn-primary"><a routerLink="/shoppingCart" routerLinkActive="active">Shooping Cart</a></button>
			<br>
			<br>
			<h2>Or update your profile:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">	
			<form (submit)="updateUser(updatedUser)" #formData='ngForm' class="form-inline">
				<div class="col-md-6">

					<div class="form-group">
						<label for="first_name">First Name:<br><input
							class="form-control"
							type="text"
							name="first_name"
							required
							minlength="2"
							[(ngModel)]="user.first_name"
							#first_name='ngModel'>
							<p *ngIf="first_name.errors?.minlength && (first_name.dirty || first_name.touched)">First name must be at least 2 characters long</p>
							<p *ngIf="first_name.errors?.required && (first_name.dirty || first_name.touched)">First name is required</p>
						</label><br>
						<label for="last_name">Last Name:<br><input
							class="form-control"
							type="text"
							name="last_name"
							required
							minlength="2"
							[(ngModel)]="user.last_name"
							#last_name='ngModel'>
							<p *ngIf="last_name.errors?.minlength && (last_name.dirty || last_name.touched)">Last name must be at least 2 characters long</p>
							<p *ngIf="last_name.errors?.required && (last_name.dirty || last_name.touched)">Last name is required</p>
						</label><br>
						<label for="email">Email:<br>
							<input
								class="form-control"
								type="text"
								name="email"
								required
								pattern="^([A-Za-z0-9._\-]+)@([a-zA-Z0-9._\-]+)\.([a-zA-Z]+)$"
								minlength="8"
								maxlength="32"
								[(ngModel)]="user.email"
								#email='ngModel'>
							<p *ngIf="email.errors?.pattern && (email.dirty || email.touched)">Email is invalid, proper format</p>
							<p *ngIf="email.errors?.minlength && (email.dirty || email.touched)">Email must be at least 8 characters long</p>
							<p *ngIf="email.errors?.maxlength && (email.dirty || email.touched)">Email must not be longer than 32 characters</p>
							<p *ngIf="email.errors?.required && (email.dirty || email.touched)">Email is required</p>
						</label><br>


						<input type="submit" class="btn btn-primary" [disabled]="!formData.form.valid" value="Update">
					</div>
				</div>	
			</form>
		</div>
	</div>
</div>
