
<div class="container">
	<div class="row">
		<div class="col-sm-offset">
			<div class="col-sm-16">
				<div class="row">
					<h1>
	  					Welcome to the Glasses Expert
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-offset">
			<div class="col-sm-16">
				<div class="row">
					<h3>
						Check out our top brands.	
					</h3>		
					<div class="col-sm-8 col-sm-ofset-2">
						<div class="banners"></div>
						<div class="banners"></div>
						<div class="banners"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>