<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggke collapsed" (click)="isCollapsed = !isCollapsed">
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Sock mail</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
			<ul class="nav navbar-nav">
				<li><a routerLink="/welcome" routerLinkActive="active">Welcome</a> </li>
				<li><a routerLink="/shop" routerLinkActive="active">Web Shop</a></li>
				<li *ngIf="(userService.userSignedIn$ | async)"><a routerLink="/show_user">Profile</a></li>
				<li><a routerLink="/about" routerLinkActive="active">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="!(userService.userSignedIn$ | async)"><a routerLink="/login" routerLinkActive="active">Login</a> </li>
				<li *ngIf="(userService.userSignedIn$ | async)"><a (click)="logOut()">Logout</a></li>
				<li *ngIf="!(userService.userSignedIn$ | async)"><a routerLink="/register" routerLinkActive="active">Register</a></li>
			</ul>
		</div>
	</div>
	
</nav>

{{currentUser}}