@media(device-width: 768px) and (device-height: 1024px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}
#add_item_modal {
	margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    height: 80%;
    padding: 2%;
    margin: auto;
}
table { 
    border: 1px solid gray;
    display: block;
    overflow: scroll;
    max-height: 300px;
    max-width: 1010px; 
}

.orders-frame {
    border: 1px solid gray;
    display: block;
    overflow: scroll;
    max-height: 300px;
    max-width: 1010px;
    margin-bottom: 20px;
}


