<div class="row">
	<div class="col-sm-offset-1">
	
		<div class="col-sm-10 ">
			<button (click)="openCreateModal()" class="btn btn-primary">add new product</button>
			<table class="table table-hover items_table col-sm-10">
				<thead class="bg-warning ">
					<tr>
						<th>Title:</th>
						<th>Description:</th>
						<th>Price:</th>
						<th>quantaty:</th>
						<th>image URL:</th>
						<th>Created At</th>
						<th>Updated at</th>
						<th>updated</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of items">
						<td>{{item.title}}</td>
						<td>{{item.description}}</td>
						<td>{{item.price}}</td>
						<td>{{item.quantaty}}</td>
						<td>{{item.img}}</td>
						<td>{{item.createdAt}}</td>
						<td>{{item.updatedAt}}</td>
						<td>
							<button class="btn btn-primary" (click)="openUpdateModal(item)">Update</button>
						</td>
						<td>
							<button class="btn btn-primary" (click)="deleteItem(item.id)">delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
	
</div>

<div class="modal" id="add_item_modal">
    <div class="modal-content">
      <span class="close" (click)="closeCreateModal()">&times;</span>
      		<app-product-form [items]="items"></app-product-form>
    </div>
</div>

<div class="modal" id="update_item_modal">
    <div class="modal-content">
      <span class="close" (click)="closeUpdateModal()">&times;</span>
      		<app-update-product-form [parentItem]="item"></app-update-product-form>
    </div>
</div>
